<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_patient})}|">Show Patient - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">

      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${patient}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="patient-firstname-field" data-z="96fbc5c4">
            	      <strong data-th-text="#{label_patient_firstname}">firstName</strong>
                    <span data-th-text="*{{firstName}}">firstNameValue</span>
         	        </li>
                  <li id="patient-lastname-field" data-z="b8ba571a">
            	      <strong data-th-text="#{label_patient_lastname}">lastName</strong>
                    <span data-th-text="*{{lastName}}">lastNameValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
  </div>


  </body>

</html>
